.containerLogin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.containerLoginTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.containerLoginTitle1 {
  top: 2%;
}

.containerLoginTitle2 {
  top: 12%;
  right: 5%;
}

.contentLogin {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 31px 20px;
  margin-top: 64%;
  margin-bottom: 10%;
  border-radius: 25px;
}

.form {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBtn {
  width: 50%;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  font-family: var(--fontFamily);
}

.formBtn1 {
  border: 1px solid var(--black);
  border-top-left-radius: 25px;
}

.formBtn2 {
  border: 1px solid var(--black);
  border-top-right-radius: 25px;
}

.formContainer {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--purple);
}

.formContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.formContentInfo {
  width: 95%;
  height: 100%;
  max-width: 500px;
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 19px;
}

.formContentInputs {
  width: 95%;
  height: 100%;
  /*display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;*/
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 2fr;
  gap: 5px;
}

.formContentBtn {
  height: 100%;
  margin-bottom: 30px;
}

@media (min-width: 345px) {
  .contentLogin {
    margin-top: 54%;
  }
}

@media (min-width: 480px) {
  .containerLogin {
    justify-content: center;
    align-items: center;
  }
  .containerLoginTitle {
    top: 3%;
    transform: none;
  }

  .containerLoginTitle1 {
    left: 3%;
  }

  .containerLoginTitle2 {
    left: auto;
  }

  .contentLogin {
    width: 70%;
    min-height: 377px;
    margin-top: 26%;
    margin-bottom: 2%;
  }

  .formBtn {
    font-size: 32px;
  }

  .formContent {
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .contentLogin {
    width: 55%;
    margin-top: 12%;
    padding: 43px 20px;
  }
}

@media (min-width: 1024px) {
  .containerLoginTitle {
    top: auto;
  }

  .containerLoginTitle2 {
    right: 7%;
  }

  .contentLogin {
    width: 479px;
    min-height: auto;
    margin-top: 2%;
  }

  .formContentInfo {
    width: 92%;
    margin-top: 7%;
    gap: 17px;
  }

  .formContentInputs {
    width: 100%;
    align-items: center;
    /*flex-direction: row;*/
  }
}

@media (min-width: 1280px) {
  .containerLoginTitle1 {
    left: 5%;
  }

  .contentLogin {
    width: 480px;
    height: fit-content;
  }
}

@media (min-width: 1400px) {
  .containerLoginTitle1 {
    left: 9%;
  }
  .containerLoginTitle2 {
    right: 11%;
  }
}

@media (min-width: 1600px) {
  .containerLoginTitle1 {
    left: 7%;
  }
  .containerLoginTitle2 {
    right: 8%;
  }
}

@media (min-width: 1700px) {
  .containerLoginTitle1 {
    left: 11%;
  }
}