@font-face {
  font-family: "Jaro";
  src: url("assets/fonts/Jaro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #faf4e0;
  --green: #d2ff1f;
  --hoverGreen: #c4f10c;
  --yellow: #ffc300;
  --hoverYellow: #e5b20c;
  --orange: #ff6a00;
  --purple: #3b0c2c;
  --input: #D9D9D9;
  --black: #000000;
  --fontFamily: "Jaro", arial;
  font-family: var(--fontFamily);
  line-height: 1.5;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

.bgOrange {
  background-color: var(--orange);
}


/* BUTTONS */
.btn {
  min-width: 100px;
  padding: 2px 93px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  font-size: 27px;
  font-family: var(--fontFamily);
}

.btn:hover {
  background-color: var(--hoverGreen);
}

.btnGreen {
  background-color: var(--green);
}

.btnGreen:hover {
  background-color: var(--hoverGreen);
}

.btnYellow {
  background-color: var(--yellow);
}

.btnYellow:hover {
  background-color: var(--hoverYellow);
}

.btnActive {
  text-decoration: underline;
}

/* FORMS */

.formLabel {
  font-size: 24px;
  color: var(--white);
}

.formInput {
  width: 90%;
  padding: 6px 17px;
  border: 0;
  border-radius: 25px;
  outline: none;
  font-size: 20px;
  color: var(--purple);
  background-color: var(--input);
  font-family: var(--fontFamily);
}

.formInput::placeholder {
  color: var(--purple);
  font-size: 18px;
}

@media (min-width: 1600px) {
  h1 {
    font-size: 128px;
  }
}