.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLoginTitle {
    position: absolute;
    top: 2%;
}

.containerLoginTitle1 {
    left: 5%;
}

.containerLoginTitle2 {
    right: 5%;
}

.contentLogin {
  width: 85%;
  height: 338px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 2% 5% 2%;
  border-radius: 25px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBtn {
  width: 50%;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  font-family: var(--fontFamily);
}

.formBtn1 {
  border: 1px solid var(--black);
  border-top-left-radius: 25px;
}

.formBtn2 {
  border: 1px solid var(--black);
  border-top-right-radius: 25px;
}

.formContainer {
  width: 100%;
  height: 80%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--purple);
}

.formContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
}

.formContentInfo {
  width: 95%;
  height: 100%;
  max-width: 500px;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.formContentLabels {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.formContentInputs {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.formContentBtn {
  height: 100%;
}

@media (min-width: 480px) {
  .containerLoginTitle {
    top: 3%;
  }

  .contentLogin {
    width: 369px;
  }
}

@media (min-width: 1024px) {
  .containerLoginTitle {
    top: auto;
  }

  .containerLoginTitle2 {
    right: 7%;
  }

  .contentLogin {
    width: 431px;
    height: 425px;
  }
  
  .formBtn {
    font-size: 27px;
  }

  .formContentInfo {
    width: 90%;
    margin-top: 10%;
  }

  .formContentInputs {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .containerLoginTitle1 {
    left: 5%;
  }

  .contentLogin {
    width: 469px;
    height: 438px;
  }
}

@media (min-width: 1400px) {
  .containerLoginTitle1 {
    left: 9%;
  }
  .containerLoginTitle2 {
    right: 11%;
  }
}

@media (min-width: 1600px) {
  .containerLoginTitle1 {
    left: 7%;
  }
  .containerLoginTitle2 {
    right: 8%;
  }
}

@media (min-width: 1700px) {
  .containerLoginTitle1 {
    left: 11%;
  }
}